[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
mysql-connector-python = "==8.0.29"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
